# Course Name: Visualisation for Data Analytics
# Objective: Data Pre-Processing

### Dataset credit: https://archive.ics.uci.edu/ml/datasets/Breast+Cancer 
#### NOTE: I have modified some parts of the dataset and added missing values in it

In [1]:
# Import Libraries
import pandas as pd

# Read Data given to in csv file with the lab

In [68]:
data = pd.read_csv("breast-cancer.csv")

### Q1. find null values for the column 'deg'

In [69]:
missing_deg = data["deg"].isnull().sum()
missing_deg

3

### Q2 Find null values for the column 'node-cap'

In [70]:
missing_nodecap = data[data["node-caps"].isnull()]
missing_nodecap

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg,breast,breast-quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,NaN,NaN,left,left_low,no
7,no-recurrence-events,60-69,ge40,20-24,0-2,NaN,1.0,left,left_low,no
14,no-recurrence-events,40-49,premeno,30-34,0-2,NaN,3.0,left,left_up,no

### Q3. Count the percentage of missing values in a column 'deg'. Drop these columns if the percentage of missing values is greater than equal to 75%.

In [71]:
rows = data["deg"].count()
percent = missing_deg / rows * 100
print(f"Percentage Missing = {percent}")

Percentage Missing = 1.0600706713780919

### Q4. Replace the 'null' values by average for the 'deg' column?

In [72]:
data["deg"].fillna(data["deg"].mean(), inplace=True)
data

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg,breast,breast-quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,NaN,2.042403,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2.000000,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2.000000,right,right_up,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,na,2.042403,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,,2.000000,right,right_low,no
...,...,...,...,...,...,...,...,...,...,...
281,recurrence-events,30-39,premeno,30-34,0-2,no,2.000000,left,left_up,no
282,recurrence-events,30-39,premeno,20-24,0-2,no,3.000000,left,left_up,yes
283,recurrence-events,60-69,ge40,20-24,0-2,no,1.000000,right,left_up,no
284,recurrence-events,40-49,ge40,30-34,5-Mar,no,3.000000,left,left_low,no
285,recurrence-events,50-59,ge40,30-34,5-Mar,no,3.000000,left,left_low,no

### Q5. Drop rows consisting of null or missing values

In [73]:
data.dropna(inplace=True)
data

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg,breast,breast-quad,irradiat
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2.000000,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2.000000,right,right_up,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,na,2.042403,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,,2.000000,right,right_low,no
5,no-recurrence-events,60-69,ge40,15-19,0-2,no,2.000000,left,left_low,no
...,...,...,...,...,...,...,...,...,...,...
281,recurrence-events,30-39,premeno,30-34,0-2,no,2.000000,left,left_up,no
282,recurrence-events,30-39,premeno,20-24,0-2,no,3.000000,left,left_up,yes
283,recurrence-events,60-69,ge40,20-24,0-2,no,1.000000,right,left_up,no
284,recurrence-events,40-49,ge40,30-34,5-Mar,no,3.000000,left,left_low,no
285,recurrence-events,50-59,ge40,30-34,5-Mar,no,3.000000,left,left_low,no

### Q6. Find and drop rows consisting of duplicate data?

In [74]:
data.drop_duplicates(inplace=True)
data

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg,breast,breast-quad,irradiat
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2.000000,right,right_up,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,na,2.042403,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,,2.000000,right,right_low,no
5,no-recurrence-events,60-69,ge40,15-19,0-2,no,2.000000,left,left_low,no
6,no-recurrence-events,50-59,premeno,25-29,0-2,no,2.000000,left,left_low,no
...,...,...,...,...,...,...,...,...,...,...
281,recurrence-events,30-39,premeno,30-34,0-2,no,2.000000,left,left_up,no
282,recurrence-events,30-39,premeno,20-24,0-2,no,3.000000,left,left_up,yes
283,recurrence-events,60-69,ge40,20-24,0-2,no,1.000000,right,left_up,no
284,recurrence-events,40-49,ge40,30-34,5-Mar,no,3.000000,left,left_low,no
285,recurrence-events,50-59,ge40,30-34,5-Mar,no,3.000000,left,left_low,no

### Q7 Encode  columns consisting of categorical data using 'OrdinalEncoder'

In [75]:
from sklearn import preprocessing

In [76]:
enc=preprocessing.OrdinalEncoder()
enc.fit(data)
print(enc.fit(data))

OrdinalEncoder()

In [77]:
enc.fit_transform(data)

array([[0., 2., 2., ..., 1., 5., 0.],
       [0., 4., 0., ..., 1., 3., 0.],
       [0., 2., 2., ..., 1., 4., 0.],
       ...,
       [1., 4., 0., ..., 1., 3., 0.],
       [1., 2., 0., ..., 0., 2., 0.],
       [1., 3., 0., ..., 0., 2., 0.]])